body {
    min-width: 900px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    color: #222222;
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}

header {
    background: url('../img/first-bg.jpg') no-repeat center top / cover;
    padding-bottom: 160px;
}

.container{
    width: 930px;
    margin: 0 auto;
}

.heading__logo {
    margin-top: 41px;
    float: left;
}

nav {
    float: right;
    margin-top: 45px;
}

.nav {
    padding: 0;
    margin: 0;
    display: block;
}


.nav li{
    float: left;
    display: block;
    margin-right: 40px;
    margin-left: 16px;
}

.nav a{
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
}

.titles__first {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-top: 180px;
}

h1 {
    font-size: 75px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
}

.button {
    background: #fed136;
    color: #484543;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 50px;
}

.title {
    padding-top: 115px;
}

.title h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    color: #777777;
    margin: 0;
}

.title p {
    text-align: center;
    font-size: 16px;
    color: #777777;
    margin-top: 5px;
}

.services {
    margin-top: 80px;
}


.services__item {
    max-width: 270px;
    float: left;
    text-align: center;
}

.services__item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.services__item p {
    font-size: 14px;
    color: #777777;
    line-height: 1,55em;
}

.services__item:last-child {
    float: right;
}

.services__item:nth-child(2){
    margin-left: 60px;
}


.block-services {
    padding-bottom: 120px;
}

.portfolio {
    background: #f7f7f7;
    padding-bottom: 120px;  
}

.works {
    margin-top: 80px;
}

.works img {
    float: left;
}

.works img:last-child {
    float: right;
}

.works img:nth-child(2) {
    margin-left: 29px;
}

.aboutus {
    margin-top: 40px;
    padding-bottom: 120px;
}

.aboutus__item {
    max-height: 200px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutus__pic {
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

.aboutus__text {
    font-size: 14px;
    color: #777777;
    line-height: 1,55em;
    max-width: 500px;
    margin-left: 30px;
    margin-right: 30px;
}

.aboutus__item:nth-of-type(even)  {
    flex-direction: row-reverse; 
}

.footer {
    background-color: #fff;
    text-align: right;
    color: #777777;
    min-height: 100px;
    font-size: 8px;
}





